@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
      <a href="/score">score</a><br />
      <a href="/reset">reset</a><br />
      <a href="/thuis">thuis</a><br />
      <a href="/uit">uit</a><br />
    </p>
</div>
