@page
@model StreamScore.Pages.ScoreModel
@{
}

<style>
  body {
    margin: 0;
    padding: 0;
  }
</style>


<div style="background-color: whitesmoke; height: 40px; font-size: 32px; font-weight: bold; text-align: center; padding:8px">
  @Globals.Thuis &nbsp;-&nbsp; @Globals.Uit
</div>


<script>
  setTimeout(function () {
    location.reload();
    },
    2500);
</script>