@page
@model StreamScore.Pages.StreamModel
@{
}

<style>

  body {
    /*background-color: #00b140; /*chroma key green*/
    background-color: rgba(0, 0, 0, 0);
    margin: 0px auto;
    overflow: hidden;
  }
</style>

[<div id="score"></div>]

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/stream.js"></script>